* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* ======== common ======== */
.container {
  width: 1170px;
  /* 24px mỗi bên là tự mình quy định khi màn hình nhỏ */
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  width: 205px;
  height: 60px;
  padding: 15px;
  border: 0 solid;
  border-radius: 30px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-family: "Sora";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  cursor: pointer;
}

.section__heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 6rem; /* 120% */
  letter-spacing: -0.1rem;
}

.section__desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem; /* 166.667% */
}

/* ========= header ========== */
.header {
  background: #10375c;
  padding-top: 30px;
}

.header-body {
  display: flex;
  justify-content: space-between;
}

.header-fixed {
  position: sticky;
  top: -15px;
}

/* logo */
.header-logo {
  display: flex;
  gap: 6px;
}

.header-logo-img {
  width: 30px;
  height: 30px;
}

.brand-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.brand-name-strong {
  color: #fff;

  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.brand-name-sub {
  color: #fff;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.4rem;
}

/* nav */
.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.header-item {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.8rem;
  cursor: pointer;

  position: relative;
}

.header-item:hover {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.header-item:hover::before {
  content: "";
  position: absolute;
  background-color: #fff;
  left: -10px;
  top: 11px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
}

/* action */
.header-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.sign-in {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.8rem;
}

.sign-up-btn {
  width: 104px;
  height: 44px;
  padding: 8px;
  border-radius: 22px;
}

/* ========= hero ========= */
.hero {
  background: #10375c;
  padding-top: 76px;
  height: calc(100vh - 75px);
}

.hero-body {
  display: flex;
  align-items: center;
}

/* hero content */
.hero-content {
  width: 45%;
  flex-shrink: 0;
}

.hero-heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 8rem;
  letter-spacing: -0.14rem;
}

.hero-desc {
  margin-top: 22px;
  width: 468px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
}

/* hero action */
.hero-action {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}

.hero-phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}

/* hero media */
.hero__media {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  object-fit: cover;
  border-radius: 6px;
}

.hero__img:first-child {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  /* thay vì đặc z-index cho hai hình 1 cái lớn 1 cái nhỏ hơn, 
    thì cho relative vào cái muốn đứng ở trên */
  position: relative;
}

.hero__img:last-child {
  width: 210px;
  height: 410px;
}

/* ========== service ========== */
.service {
  margin-top: 170px;
}
.service__body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* heading */
.service__heading {
  text-align: center;
}

.service__desc {
  width: 468px;
  margin: 0 auto;
  margin-top: 18px;
  text-align: center;
}

/* service content */
.service__content {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* img */
.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

/* list */
.service__item {
  display: flex;
  gap: 20px;
  padding: 22px;
  border-radius: 10px;
  transition: 0.25s;
}

.service__item:hover {
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service__item__icon {
  display: flex;
  justify-content: center;
  align-items: start;
}

.service__item__icon__wrap {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  border-radius: 100%;
  background: #eff6fd;
  color: #10375c;
  transition: 0.25s;
}

.service__item:hover .service__item__icon__wrap {
  background: #2e80ce;
  color: #fff;
}

.service__item__title {
  margin-top: 8px;
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}

.service__item__desc {
  margin-top: 8px;
  width: 330px;
  color: #515457;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.8rem;
}

.service__btn {
  margin-top: 55px;
}

/* ========== how it work ========= */
.work {
  margin-top: 170px;
  background: #f6fbff;
  padding: 100px 0;
}

.work__heading {
  color: #10375c;
}

.work__heading-desc {
  width: 468px;
  margin-top: 18px;
}

/* item */
.work__list {
  margin-top: 70px;
  display: flex;
  gap: 30px;
}

.work__item {
  width: 370px;
  height: 402px;
  padding: 42px;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  transition: 0.25s;
}

.work__item:hover {
  border: 16px solid #2e80ce;
  transform: translateY(-16px);
}

.work__item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 3.6rem;
}

.work__item__desc {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.8rem;
}

.work__item__learn-more {
  margin-top: 18px;
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}

/* ========== feature ========= */
.feature {
  margin-top: 170px;
}

.feature-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* media */
.feature__media__img:first-child {
  width: 512px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
}

.feature__media__img:last-child {
  margin-top: -250px;
  margin-left: 238px;
  width: 332px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
}

.feature-content__heading {
  width: 470px;
}

.feature-content__desc {
  margin-top: 18px;
  width: 468px;
}

.feature-content__btn {
  margin-top: 38px;
}

/* ========= member ========= */
.member {
  margin-top: 170px;
}

.member__heading {
  text-align: center;
}

.member__cta {
  margin: 0 auto;
  margin-top: 38px;
  display: block;
}

/* member item */
.member__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 30px;
}

.member__item__bg {
  width: 270px;
  height: 318px;
  border-radius: 6px;
  background: #eaf6ff;
}

.member__item__img {
  margin-top: 28px;
  max-width: 100%;
  height: 290px;
  object-fit: cover;
}

.member__name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem; /* 175% */
}

.member__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.6rem; /* 185.714% */
}

/* member redirect */
.member-redirect {
  margin-top: 38px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 18px;
}

.member-redirect__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #575f66;
  background-color: #fff;
  width: 36px;
  height: 36px;
  border: 1px solid #575f66;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.25s;
}

.member__btn--next {
  rotate: 180deg;
}

.member-redirect__btn:hover {
  background-color: #2e80ce;
  color: #fff;
}

/* ======== application ========= */
.app {
  margin-top: 265px;
}

.app-body {
  border-radius: 4px;
  padding: 0 70px;
  background: #2e80ce;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__img {
  display: block;
  width: 284px;
  height: 522px;
  object-fit: cover;
  margin-top: -95px;
}

/* app content */
.app__heading {
  max-width: 489px;
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  line-height: 6rem; /* 120% */
  letter-spacing: -0.1rem;
}

.app__desc {
  margin-top: 18px;
  max-width: 586px;
  color: #fff;
}

.app__row {
  margin-top: 38px;
}

.app__row :nth-child(2) {
  margin-left: 28px;
}

/* ========= news ========== */
.news {
  margin-top: 170px;
}

.news-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news__content__heading {
  margin-top: 28px;
  max-width: 470px;
}

.news__content__news-more {
  display: block;
  margin-top: 28px;
  color: #10375c;
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem; /* 155.556% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.news__content__btn {
  margin-top: 28px;
  display: flex;
}

.news__content__btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575f66;
  color: #575f66;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  transition: 0.25s;
  cursor: pointer;
}

.news__content__btn-wrap:hover {
  background: #2e80ce;
  color: #fff;
  border: 0;
}

.news__content__btn :nth-child(2) {
  margin-left: 18px;
}

/* news item */
.news__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.news__item {
  border-radius: 12px;
  background: #fff;
  overflow: hidden;
}

.news__item:hover {
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.news__item:hover .news__item__content {
  border-color: #fff;
}

.news__item:hover:hover .news__item__img {
  transform: scale(1.1);
}

.news__item__img-wrap {
  height: 172px;
  overflow: hidden;
}

.news__item__img {
  width: 100%;
  height: 172px;
  display: block;
  object-fit: cover;
  transition: 0.25s;
}

.news__item__content {
  padding: 0 22px 22px 22px;
  border: 1px solid #e8ebee;
  border-top: none;
  border-radius: 0 0 12px 12px;
  transition: 0.25s;
}

.news__item__heading {
  display: block;
  max-width: 224px;
  padding-top: 18px;
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem; /* 162.5% */
}

.news__item__desc {
  max-width: 226px;
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.4rem; /* 171.429% */
}

.news__item__more {
  display: block;
  margin-top: 12px;
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
}

/* ========== appointment =========== */
.appointment {
  margin-top: 170px;
}

.appointment-inner {
  padding: 100px 180px;
  text-align: center;
  background: #f6fbff;
}

.appointment__heading {
  position: relative;
}

.appointment__heading::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -18px;
  background: #2e80ce;
  width: 136px;
  height: 2px;
}

.appointment__desc {
  margin-top: 38px;
  color: #575f66;
  text-align: center;
  font-family: Sora;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.8rem; /* 175% */
}

.appointment__btn {
  margin-top: 38px;
}

/* ========= footer ========== */
.footer {
  margin-top: 170px;
  background: #10375c;
  font-family: "Open Sans", sans-serif;
}

.footer__inner {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
  position: relative;
}

/* gach ngang */
.footer__inner::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #406181;
}

/* footer logo */
.footer__logo {
  display: flex;
  gap: 6px;
}

.footer__logo__name {
  display: flex;
  flex-direction: column;
}

.footer__logo__name {
  color: #fff;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4rem; /* 77.778% */
}

.footer__logo__name--small {
  text-align: right;
  font-size: 1.2rem;
  font-weight: 300;
}

.footer__logo__desc {
  margin-top: 21px;
  max-width: 336px;
  color: #a9b3bb;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem; /* 175% */
}

/* footer list */
.footer__heading {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem; /* 175% */
}

.footer__list {
  margin-bottom: 28px;
}

.footer__link {
  color: #a9b3bb;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem; /* 185.714% */
  white-space: nowrap;
}

.footer__item:first-child {
  margin-top: 20px;
}

.footer__item + .footer__item {
  margin-top: 10px;
}

/* footer social */
.footer__social__icon {
  margin: 20px 0 28px;
  display: flex;
  gap: 10px;
}

.footer__social-btn {
  color: #2e80ce;
  background: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  transition: 0.5s;
}

.footer__social-btn:hover {
  color: white;
  background: #2e80ce;
}

.footer__column__desc {
  margin-top: 20px;
  /* max-width: 273px; */
  color: #a9b3bb;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem; /* 185.714% */
}

/* footer form */
.footer__form {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.footer__input-form {
  width: 212px;
  height: 46px;
  padding: 10px;
  outline: none;
  border: 1px solid #406181;
  border-radius: 4px;
  background: none;
  color: #fff;
}

.footer__btn-form {
  width: 108px;
  height: 46px;
  border-radius: 4px;
  padding: 10px 21px;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.6rem; /* 185.714% */
}

/* copyright */
.copyright {
  padding: 28px 0 42px;
  text-align: center;
}
