@use "../abstracts";

.home {
  margin-bottom: 50px;
  
  &__container {
    margin-top: 40px;

    @include abstracts.screen(md) {
      margin-top: 30px;
    }
  }

  &__heading {
    color: var(--text-color);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 141.667%;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__cate {
    --grid-gutter-x: 50px;
    --grid-gutter-y: 20px;
  }
}
