@use "../abstracts";

html.dark {
  --text-color: #fff;
  --body-bg: #292e39;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(9%)
    hue-rotate(253deg) brightness(104%) contrast(104%);
  // header
  --header-bg-color: #171c28;
  // logo
  --logo-name-color: #fff;
  // nav
  --nav-link-color: #fff;
  // header-action
  --header-action-group-bg-color: #292e39;
  --header-action-separate-color: #ededf6;
  --header-action-title-color: #fff;
  --header-action-group-shadow-color: rgba(0, 0, 0, 0.2);
  // dropdown
  --dropdown-bg-color: #292e39;
  --dropdown-box-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-icon-filter: brightness(0) saturate(100%) invert(12%) sepia(3%)
    saturate(4904%) hue-rotate(184deg) brightness(94%) contrast(83%);
  --dropdown-menu-border-right-color: #171c28;
  --dropdown-menu-title-text-color: #b9babe;
  --dropdown-menu-item-link-color: #b9babe;
  --scrollbar-dark-bg: #292e39;
  --scrollbar-dark-thumb-bg: #888;
  --scrollbar-dark-thumb-hover-bg: #555;
  // nav mobile
  --nav-mobile-bg-color: #292e39;
  --nav-mobile-action-color: #b9babe;
  // card item
  --card-item-bg-color: #171c28;
  --card-item-bg-thumb: #292e39;
  .card__item__thumb {
    filter: none;
  }
    // card prod
  --card-prod-bg-color: #171C28;
  
}
