@use "../abstracts";

html {
  --text-color: #1a162e;
  --body-bg: #f6f6f6;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(7%)
    saturate(6618%) hue-rotate(214deg) brightness(96%) contrast(95%);
  --header-bg-color: #eee;
  // logo
  --logo-name-color: #1a162e;
  // nav
  --nav-link-color: #1a162e;
  // header-action
  --header-action-group-bg-color: #fff;
  --header-action-separate-color: #ededf6;
  --header-action-title-color: #1a162e;
  --header-action-group-shadow-color: rgba(237, 237, 246, 0.2);
  // dropdown
  --dropdown-bg-color: #fff;
  --dropdown-box-shadow-color: rgba(200, 200, 200, 0.4);
  --dropdown-menu-border-right-color: #d2d1d6;
  --dropdown-menu-title-text-color: #1a162e;
  --dropdown-menu-item-link-color: #1a162e;
  // nav mobile
  --nav-mobile-bg-color: #fff;
  --nav-mobile-action-color: #1a162e;
}
