@use "../abstracts";

%flexCenterItems {
  display: flex;
  align-items: center;
}

.header {
  background: var(--header-bg-color, #eee);
}

.header__inner {
  @extend %flexCenterItems;
  position: relative;
  padding: 30px 0;
  @include abstracts.breakpoint(xl) {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
  }
}

.header__more {
  display: none;
  @include abstracts.breakpoint(xl) {
    display: block;
  }
}

.nav {
  @include abstracts.breakpoint(xl) {
    display: none;
  }

  &__item ~ &__item {
    padding-left: 30px;
  }

  &__list {
    @extend %flexCenterItems;
    margin-left: 144px;
    @include abstracts.breakpoint(xxl) {
      margin-left: 50px;
    }
    @include abstracts.breakpoint(xl) {
      display: none;
    }
  }

  &__item {
    &:hover .dropdown {
      display: block;
    }
  }

  &__link {
    @extend %flexCenterItems;
    gap: 6px;
    height: 50px;
    color: var(--nav-link-color, #1a162e);
    /* Medium 15 */
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__link__img {
    margin-top: 3px;
  }
}

.header__action {
  display: flex;
  gap: 20px;
  margin-left: auto;
  @include abstracts.breakpoint(xl) {
    margin-left: initial;
  }

  &__group {
    @extend %flexCenterItems;
    gap: 20px;
    border-radius: 8px;
    background: var(--header-action-group-bg-color, #fff);
    box-shadow: 0 20px 60px 10px var(--header-action-group-shadow-color);
    @include abstracts.breakpoint(md) {
      display: none;
    }
  }

  &__group--large {
    padding: 10px 20px;
  }

  &__item--single {
    @extend %flexCenterItems;
    padding: 13px;
    cursor: pointer;
  }

  &__item {
    @extend %flexCenterItems;
    gap: 10px;
    cursor: pointer;
  }

  &__separate {
    background: var(--header-action-separate-color, #ededf6);
    width: 1px;
    height: 100%;
  }

  &__title {
    color: var(--header-action-title-color, #1a162e);

    /* Medium 15 */
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__avt {
    width: 50px;
    height: 50px;

    img {
      border-radius: 8px;
      width: 100%;
    }
  }
}
