@use "../abstracts";

.filter-btn {
  display: flex;
  gap: 14px;
  align-items: center;
  background-color: var(--filter-btn-bg-color);
  padding: 6px 12px;
  border-radius: 6px;

  &__title {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 142.857%;
  }
}

.like {
  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    box-shadow: 0 20px 60px rgba(124, 124, 124, 0.2);

    .like-icon-active {
      display: none;
    }
  }

  &-active {
    .like-icon {
      display: none;
    }
    .like-icon-active {
      display: block;
      margin-top: 5px;
    }
  }
}

.btn {
  @include abstracts.typo("medium-14");
  padding: 10px;

  &-primary {
    background-color: #ffb700;
  }

  &-secondary {
    @include abstracts.typo("regular-15");
    color: #9e9da8;
  }

  &--radius-sm {
    border-radius: 6px;
  }
}
