@use "../abstracts";

.product__card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--card-prod-bg-color);
  padding: 16px;
  border-radius: 20px;
  height: 100%;

  &__thumb {
    width: 100%;
    object-fit: contain;

    @include abstracts.screen(sm) {
      width: 50%;
      display: block;
      margin: 0 auto;
    }

    &__wrapper {
      position: relative;
    }

    &-like-btn {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__title {
      color: var(--text-color);
      @include abstracts.typo("medium-16");
      width: 100%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }

    &__brand {
      color: #9e9da8;
      @include abstracts.typo("regular-15");
    }

    &__price {
      color: var(--text-color);
      @include abstracts.typo("medium-16");
    }

    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__rate {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    &__rate__num {
      color: var(--text-color);
      @include abstracts.typo("medium-16");
    }
  }
}
