* {
  box-sizing: border-box;
}

:root{
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* common */

a {
  text-decoration: none;
}
.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 98px;
  padding: 18px 16px;
  border-radius: 8px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.btn:hover {
  opacity: 0.9;
}
/* header */
.header {
  background: #e6f0ff;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 26px;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}


.navbar ul a {
  font-size: 1.4rem;
  font-weight: 500;
  color: #4f5361;
  padding: 8px 1.4rem;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .action {
  margin-left: auto;
}
.navbar .action-link {
  color: var(--primary-color);
}
.navbar .btn-action {
  padding: 13px 16px;
  margin-left: 18px;
}