<div class="container">
  <div class="header__inner">
    <!-- logo -->
    <a href="/" class="logo">
      <img src="./assets/icons/logo.svg" alt="" class="logo__img" />
      <h1 class="logo__name">grocerymart</h1>
    </a>
    <!-- navbar -->
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#!" class="nav__link">
            Departments
            <img
              class="nav__link__img icon"
              src="../assets/icons/arrow-down.svg"
              alt=""
            />
          </a>
        </li>
        <li class="nav__item">
          <a href="#!" class="nav__link"
            >Grocery <img src="../assets/icons/arrow-down.svg" class="icon" alt="" />
          </a>
        </li>
        <li class="nav__item">
          <a href="#!" class="nav__link"
            >Beauty <img class="icon" src="../assets/icons/arrow-down.svg" alt="" />
          </a>
        </li>
      </ul>
    </nav>
    <!-- action -->
    <div class="header__action">
      <div class="header__action__group">
          <button type="button" title="Search" class="header__action__item--single">
            <img class="icon" src="./assets/icons/search.svg" alt="" />
          </button>
      </div>
      <div class="header__action__group header__action__group--large">
        <button type="button" class="header__action__item">
          <img class="icon" src="./assets/icons/heart.svg" alt="" />
          <span class="header__action__title">03</span>
        </button>
        <div class="header__action__separate"></div>
        <button type="button" class="header__action__item">
          <img class="icon" src="../assets/icons/buy.svg" alt="" />
          <span class="header__action__title">$65.42</span>
        </button>
      </div>
      <div class="header__action__avt">
        <img
          src="../assets/imgs/avatar.jpg"
          alt=""
          class="header__action__avt-img"
        />
      </div>
    </div>
  </div>
</div>
