/* PC */
@media (min-width: 992px) {
  .header-small {
    display: none;
  }

  .header {
    display: flex;
  }

  .dot-special--hidden {
    display: none;
  }
}

/* mobile & tablet */
@media (max-width: 991.9px) {
  /* header */
  .header {
    display: none;
  }

  /* header bottom */

  .header__contact {
    display: none;
  }

  .header__inner {
    flex-direction: column;
    row-gap: 20px;
  }

  .header-small {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fbfaff;
  }

  .header-small::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -15px;
    left: 8px;
    right: 8px;
    display: block;
    height: 2px;
    background-color: #d6d3e2;
  }

  .header-small__face-img {
    width: 60px;
  }

  .header-small-action-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  .email-heart-img-wrapper {
    width: 34px;
    height: 34px;
  }

  .email-heart-img {
    width: 16px;
  }

  /* ========= hero ============ */
  .hero {
    padding-top: 60px;
  }

  .hero-body {
    flex-direction: column-reverse;
  }

  .hero__content__heading {
    width: 260px;
    font-size: 4.2rem;
    line-height: 5rem; /* 119.048% */
    letter-spacing: -0.168rem;
  }

  .cta-wrapper {
    margin-top: 30px;
  }

  .social {
    margin-top: 25px;
  }

  /* ============= special ============== */
  .client {
    flex-direction: column;
    row-gap: 42px;
  }

  .client__title {
    margin: auto;
    text-align: center;
  }

  .client__title::before {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 48px;
  }

  .client__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }

  .special__desc {
    width: auto;
  }

  .special__item--hidden {
    display: none;
  }

  /* ========== project ======== */
  .project__top {
    text-align: center;
  }

  .project__heading {
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 4.2rem; /* 116.667% */
    letter-spacing: -0.144rem;
  }

  /* ============ design ======== */

  .design__heading {
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 4.2rem; /* 116.667% */
    letter-spacing: -0.144rem;
  }

  .design__statistic-wrapper {
    margin: 90px 0 0;
    padding: 0;
  }

  .design__statistic__number {
    font-size: 3rem;
    font-weight: 500;
    line-height: 4.2rem; /* 140% */
    letter-spacing: 0.09rem;
  }

  .design__statistic__number::after {
    bottom: 3px;
  }

  /* ========== atmos =========== */
  .atmos--hidden {
    display: none;
  }
}

/* tablet */
@media (min-width: 576px) and (max-width: 991.9px) {
}

/* mobile */
@media (max-width: 575.9px) {
}
