*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #080415;
  --desc-color: #51586a;
  --background-color: #5d3bee;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
}

/* =========== common =========== */
a {
  text-decoration: none;
  color: inherit;
}

.container-wide {
  width: 1400px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

.heading {
  color: var(--primary-color);
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 6.6rem; /* 117.857% */
  letter-spacing: -0.224rem;
}

.desc {
  color: var(--desc-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem; /* 166.667% */
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 171px;
  height: 62px;
  background-color: var(--background-color);

  color: #fdfdfd;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem; /* 166.667% */
}

/* ============= header ============ */
.header {
  background: #fbfaff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contact {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/*  */
.email-heart-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: 1px solid rgba(93, 59, 238, 0.2);
  border-radius: 99px;
}

.email-heart-img {
  width: 24px;
  box-shadow: 0 6px 25px rgba(27, 17, 17, 0.2);
}

.email-text {
  position: relative;
  color: var(--primary-color);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3rem; /* 136.364% */
}

.email-text::after {
  content: "";
  position: absolute;
  bottom: 5px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
}

/*  */
.header__decor-img {
  width: 100px;
}

/*  */
.navbar-list {
  display: flex;
  column-gap: 43px;
}

.navbar-item {
  color: var(--desc-color);
  font-size: 1.8rem;
  font-weight: 400;
}

/* ============== hero ============= */
.hero {
  background: #fbfaff;
  position: relative;
  overflow: hidden;
}

.hero__media {
  position: relative;
}

.hero__media__img {
  position: relative;
  z-index: 1;
  left: 50px;
  width: 75%;
}

.hero__media__decor {
  position: absolute;
  left: -130px;
  top: -40px;
}

/* hero content */
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__content__heading {
  width: 500px;
  font-size: 8rem;
  line-height: 7.6rem; /* 95% */
  letter-spacing: -0.32rem;
}

.hero__content__desc {
  margin-top: 20px;
  width: 370px;
}

.cta-wrapper {
  margin-top: 50px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.social {
  display: flex;
  align-items: center;
  margin-top: 104px;
}

.hero__social__title {
  margin-right: 15px;
}

.social__icon-wrapper {
  display: flex;
  column-gap: 20px;
}

.social__icon-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(8, 4, 21, 0.1);
  border-radius: 50%;
}

.hero__decor--small {
  position: absolute;
  bottom: -85px;
  right: -350px;
  width: 340px;
  height: 252px;
}

.hero__decor-img {
  width: inherit;
}

/* ============== special ========== */
.special {
  margin-top: 100px;
}

/* client */
.client {
  display: flex;
  column-gap: 105px;
}

.client__title {
  margin-left: 100px;
  position: relative;
  display: block;
  width: 253px;

  color: #080415;
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 5rem; /* 119.048% */
}

.client__title::before {
  content: "";
  position: absolute;
  top: 22px;
  left: -100px;
  display: block;
  width: 86px;
  height: 2px;
  background-color: #5d3bee;
}

.client__list {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}

.client__item {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

/* special inner */
.special-inner {
  margin-top: 133px;
}

.special-inner-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.special__desc {
  margin-top: 20px;
  display: block;
  width: 534px;
}

.special__list {
  margin-top: 60px;
}

.special__item {
  align-items: stretch;
  padding: 32px 42px;
  background: #fbfaff;
}

.special__item__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 74px;
  border: 1px solid rgba(93, 59, 238, 0.2);
  border-radius: 99px;
}

.special__item__icon {
  width: 32px;
}

.special__item__title {
  margin-top: 22px;
  color: #080415;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4rem; /* 125% */
}

.special__item__desc {
  margin-top: 15px;
}

.dot {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.dot-item {
  width: 10px;
  height: 10px;
  background-color: rgba(8, 4, 15, 0.2);
  border-radius: 50%;
}

.dot-item-active {
  position: relative;
  background-color: transparent;
  border: 1px solid #5d3bee;
}

.dot-item-active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 5px;
  height: 5px;
  background-color: #5d3bee;
  border-radius: 50%;
}

/* =========== project ========== */
.project {
  margin-top: 140px;
  padding: 86px 0;
  background: #5d3bee;
}

.project__top {
  align-items: flex-end;
}

.project__heading {
  color: #fff;
}

.project__desc {
  margin-bottom: 0;
  color: rgb(255, 255, 255, 0.7);
}

.project__bottom {
  margin-top: 70px;
}

.project__item {
  overflow: hidden;
  background: #fbfaff;
  padding: 24px 24px 24px 34px;
  display: flex;
  justify-content: space-between;
}

.project__item__heading {
  color: #080415;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4rem; /* 125% */
  letter-spacing: -0.128rem;
}

.project__item__desc {
  margin-top: 10px;
  width: 220px;
  font-size: 1.6rem;
}

.project__item__more {
  display: inline-block;
  margin-top: 20px;
  position: relative;
  color: #080415;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem; /* 166.667% */
}

.project__item__more::after {
  content: "";
  position: absolute;
  bottom: 3px;
  display: block;
  background-color: #080415;
  width: 100%;
  height: 1px;
}

.project__item__media {
  position: relative;
}

.project__item-img {
  position: relative;
  z-index: 1;
  width: 100%;
}

.project__item__decor {
  position: absolute;
  top: -24px;
  left: -139px;
}

.project__btn {
  margin: 80px auto 0;
  color: #080415;
  background: #fff;
}

/* ============ design =========== */
.design {
  margin-top: 140px;
}

.design__top-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.design__decor {
  position: relative;
  color: #5d3bee;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4rem; /* 125% */
  letter-spacing: -0.128rem;
}

.design__decor::after {
  content: url("../imgs/design-decor.png");
  position: absolute;
  right: -40px;
}

.design__heading {
  margin-top: 10px;
}

.design__desc {
  margin-top: 15px;
  max-width: 570px;
}

.design__statistic-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 90px 50px 0;
  padding: 0 50px;
  position: relative;
}

.design__statistic-wrapper::before,
.design__statistic-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: -19px;
  height: 1px;
  background-color: rgba(8, 4, 15, 0.2);
}

.design__statistic-wrapper::after {
  top: initial;
  bottom: -20px;
}

.design__statistic-item {
  display: flex;
  flex-direction: column;
}

.design__statistic__number {
  position: relative;
  line-height: 7.6rem;
}

.design__statistic__number::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #080415;
}

.design__video-wrapper {
  margin-top: 90px;
  position: relative;
}

.design__video {
  width: 100%;
}

.design__video-play-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  z-index: 1;
}

.design-video__title {
  background: #fff;
  color: #51586a;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* ========= say ========= */
.say {
  margin-top: -305px;
  padding: 445px 0 75px;
  background: #fbfaff;
}

.say__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.say__desc {
  margin-top: 20px;
  max-width: 570px;
}

.say__quote-wrapper {
  margin-top: 60px;
  max-width: 680px;
}

.say__author-wrapper {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
}

.say__quote {
  font-size: 2.4rem;
}

.say__author__profile {
  display: flex;
  justify-content: center;
}

.say__author__name {
  margin-left: 15px;
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem; /* 133.333% */
}

/* =========== question =========== */
.question {
  margin-top: 95px;
}

.question__heading {
  max-width: 575px;
}

.question__list {
  margin-top: 80px;
}

.question__item {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  /* content 100% item */
  position: relative;
}

.question__item ~ .question__item {
  margin-top: 60px;
}

.question__item__content {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  transition: color 0.5s;
}

.question__item__content::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #08182f;
}

.question__item__heading {
  color: var(--primary-color);
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4rem; /* 125% */
  letter-spacing: -0.128rem;
  transition: color 0.5s;
}

.question__item__answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin-top: 23px;
  max-width: 600px;
  transition: opacity 0.5s, max-height 0.5s;
}

.question__item__checkbox-input:checked
  ~ .question__item__content
  .question__item__answer {
  max-height: 500px;
  opacity: 1;
}

.question__item__checkbox-input:checked
  ~ .question__item__content
  .question__item__heading {
  color: #5d3bee;
}

.question__item__checkbox-input:checked ~ .question__item__content::after {
  background-color: #5d3bee;
}

.question__item__checkbox-input:checked ~ .question__item__checkbox-label img {
  content: url("../imgs/Left.svg");
}

/* ========== atmos ============ */
.atmos {
  margin-top: 160px;
}

.atmos__top {
  text-align: center;
}

.atmos__desc {
  margin-top: 20px;
}

.atmos__decor {
  margin-top: 30px;
  color: #5d3bee;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4rem; /* 125% */
  letter-spacing: -0.128rem;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.atmos__bottom {
  margin-top: 70px;
}

.atmos__img {
  width: 100%;
}

/* ============ talk =========== */
.talk__inner {
  margin-top: 140px;
  padding: 60px 0;
  text-align: center;
  background: #fbfaff;
}

.talk__heading,
.talk__desc {
  margin-top: 20px;
}

.talk__btn {
  margin: 30px auto 0;
}

/* ============== header bottom =========== */
.header__bottom {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ============= footer ================ */
.footer {
  margin-top: 50px;
  padding: 30px 0;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.footer__inner::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background-color: rgba(8, 4, 15, 0.2);
}

.footer__policy {
  display: flex;
  column-gap: 40px;
}

.footer__policy__right {
  position: relative;
}

.footer__policy__right::after {
  content: "";
  position: absolute;
  inset: 0 0 0 -20px;
  margin: auto 0;
  height: 60%;
  width: 1px;
  background-color: #525771;
}
